<div class="row">
    <div class="col-8">Title: {{ filmresult.title }}</div>
</div>
<div class="row">
    <div class="col-8">Description</div>
</div>
<div class="row">
    <div class="col-8">{{filmresult.description}}</div>
</div>
<div class="row">
    <div class="col-8">Release Year: {{filmresult.release_year}}</div>
</div>